OrderIT.WCFClient/Service References/WCFServiceReference/OrderITService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderITService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderIT.Model" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrderIT.WCFService" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OrderIT.Model.STE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderITService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_ReadDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadDTO" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_ReadDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_UpdateDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDTO" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_UpdateDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_ReadSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSTE" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_ReadSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSTEResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_UpdateSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSTE" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_UpdateSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSTEResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_ReadOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_ReadOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderITService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderITService">
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/Read" message="tns:IOrderITService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/ReadResponse" message="tns:IOrderITService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/Update" message="tns:IOrderITService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/UpdateResponse" message="tns:IOrderITService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/ReadDTO" message="tns:IOrderITService_ReadDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/ReadDTOResponse" message="tns:IOrderITService_ReadDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/UpdateDTO" message="tns:IOrderITService_UpdateDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/UpdateDTOResponse" message="tns:IOrderITService_UpdateDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/ReadSTE" message="tns:IOrderITService_ReadSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/ReadSTEResponse" message="tns:IOrderITService_ReadSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/UpdateSTE" message="tns:IOrderITService_UpdateSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/UpdateSTEResponse" message="tns:IOrderITService_UpdateSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/ReadOrder" message="tns:IOrderITService_ReadOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/ReadOrderResponse" message="tns:IOrderITService_ReadOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/CreateOrder" message="tns:IOrderITService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/CreateOrderResponse" message="tns:IOrderITService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/UpdateOrder" message="tns:IOrderITService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/UpdateOrderResponse" message="tns:IOrderITService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderITService/DeleteOrder" message="tns:IOrderITService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderITService/DeleteOrderResponse" message="tns:IOrderITService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderITService" type="tns:IOrderITService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDTO">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/ReadDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDTO">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/UpdateDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSTE">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/ReadSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSTE">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/UpdateSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/ReadOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderITService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderITService">
    <wsdl:port name="BasicHttpBinding_IOrderITService" binding="tns:BasicHttpBinding_IOrderITService">
      <soap:address location="http://localhost:32866/OrderITService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>