OrderIT.WCFClient/Service References/WCFServiceReference/OrderITService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderIT.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderIT.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderIT.Model" />
  <xs:complexType name="CustomerDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderIT.Model" minOccurs="0" name="BillingAddress" nillable="true" type="q1:AddressInfo" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderIT.Model" minOccurs="0" name="ShippingAddress" nillable="true" type="q2:AddressInfo" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
</xs:schema>