OrderIT.WinGUI/Service References/WCFServiceReference/OrderITService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd2" namespace="http://schema.tempuri.org/Order" />
  <xs:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd5" namespace="http://schema.tempuri.org/OrderSTE" />
  <xs:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd8" namespace="http://schema.tempuri.org/CustomerDTO" />
  <xs:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd3" namespace="http://schema.tempuri.org/Customer" />
  <xs:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd7" namespace="http://schema.tempuri.org/STECustomer" />
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schema.tempuri.org/Order" minOccurs="0" name="order" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schema.tempuri.org/Order" minOccurs="0" name="ReadOrderResult" nillable="true" type="q2:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schema.tempuri.org/Order" minOccurs="0" name="order" nillable="true" type="q3:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schema.tempuri.org/OrderSTE" minOccurs="0" name="order" nillable="true" type="q4:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderUsingSTEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrderUsingSTEResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderUsingSTEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schema.tempuri.org/OrderSTE" minOccurs="0" name="ReadOrderUsingSTEResult" nillable="true" type="q5:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schema.tempuri.org/OrderSTE" minOccurs="0" name="order" nillable="true" type="q6:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderUsingSTEResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schema.tempuri.org/OrderSTE" minOccurs="0" name="order" nillable="true" type="q7:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderUsingSTEResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerUsingDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schema.tempuri.org/CustomerDTO" minOccurs="0" name="customer" nillable="true" type="q8:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerUsingDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCustomerUsingDTOResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerUsingDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerUsingDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schema.tempuri.org/CustomerDTO" minOccurs="0" name="ReadCustomerUsingDTOResult" nillable="true" type="q9:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerUsingDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schema.tempuri.org/CustomerDTO" minOccurs="0" name="customer" nillable="true" type="q10:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerUsingDTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerUsingDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerUsingDTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schema.tempuri.org/Customer" minOccurs="0" name="customer" nillable="true" type="q11:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schema.tempuri.org/Customer" minOccurs="0" name="ReadCustomerResult" nillable="true" type="q12:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schema.tempuri.org/Customer" minOccurs="0" name="customer" nillable="true" type="q13:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schema.tempuri.org/STECustomer" minOccurs="0" name="customer" nillable="true" type="q14:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerUsingSTEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCustomerUsingSTEResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCustomerUsingSTEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schema.tempuri.org/STECustomer" minOccurs="0" name="ReadCustomerUsingSTEResult" nillable="true" type="q15:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schema.tempuri.org/STECustomer" minOccurs="0" name="customer" nillable="true" type="q16:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerUsingSTEResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerUsingSTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schema.tempuri.org/STECustomer" minOccurs="0" name="customer" nillable="true" type="q17:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerUsingSTEResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>