OrderIT.WinGUI/Service References/WCFServiceReference/OrderITService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderITService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd2" namespace="http://schema.tempuri.org/Order" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd3" namespace="http://schema.tempuri.org/Customer" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OrderIT.Model" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd5" namespace="http://schema.tempuri.org/OrderSTE" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/OrderIT.Model.STE" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd7" namespace="http://schema.tempuri.org/STECustomer" />
      <xsd:import schemaLocation="http://localhost:32866/OrderITService.svc?xsd=xsd8" namespace="http://schema.tempuri.org/CustomerDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ReadOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ReadOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_CreateOrderUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderUsingSTE" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_CreateOrderUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_ReadOrderUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrderUsingSTE" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_ReadOrderUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrderUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_UpdateOrderUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderUsingSTE" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_UpdateOrderUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_DeleteOrderUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderUsingSTE" />
  </wsdl:message>
  <wsdl:message name="IOrderSTEService_DeleteOrderUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_CreateCustomerUsingDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerUsingDTO" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_CreateCustomerUsingDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerUsingDTOResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_ReadCustomerUsingDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerUsingDTO" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_ReadCustomerUsingDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerUsingDTOResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_UpdateCustomerUsingDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerUsingDTO" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_UpdateCustomerUsingDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerUsingDTOResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_DeleteCustomerUsingDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerUsingDTO" />
  </wsdl:message>
  <wsdl:message name="ICustomerDTOService_DeleteCustomerUsingDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerUsingDTOResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ReadCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ReadCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_CreateCustomerUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerUsingSTE" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_CreateCustomerUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_ReadCustomerUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerUsingSTE" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_ReadCustomerUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_UpdateCustomerUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerUsingSTE" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_UpdateCustomerUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerUsingSTEResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_DeleteCustomerUsingSTE_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerUsingSTE" />
  </wsdl:message>
  <wsdl:message name="ICustomerSTEService_DeleteCustomerUsingSTE_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerUsingSTEResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CreateOrder" message="tns:IOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CreateOrderResponse" message="tns:IOrderService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/ReadOrder" message="tns:IOrderService_ReadOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/ReadOrderResponse" message="tns:IOrderService_ReadOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderResponse" message="tns:IOrderService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrderSTEService">
    <wsdl:operation name="CreateOrderUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSTEService/CreateOrderUsingSTE" message="tns:IOrderSTEService_CreateOrderUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSTEService/CreateOrderUsingSTEResponse" message="tns:IOrderSTEService_CreateOrderUsingSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOrderUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSTEService/ReadOrderUsingSTE" message="tns:IOrderSTEService_ReadOrderUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSTEService/ReadOrderUsingSTEResponse" message="tns:IOrderSTEService_ReadOrderUsingSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSTEService/UpdateOrderUsingSTE" message="tns:IOrderSTEService_UpdateOrderUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSTEService/UpdateOrderUsingSTEResponse" message="tns:IOrderSTEService_UpdateOrderUsingSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSTEService/DeleteOrderUsingSTE" message="tns:IOrderSTEService_DeleteOrderUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSTEService/DeleteOrderUsingSTEResponse" message="tns:IOrderSTEService_DeleteOrderUsingSTE_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICustomerDTOService">
    <wsdl:operation name="CreateCustomerUsingDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerDTOService/CreateCustomerUsingDTO" message="tns:ICustomerDTOService_CreateCustomerUsingDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerDTOService/CreateCustomerUsingDTOResponse" message="tns:ICustomerDTOService_CreateCustomerUsingDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerUsingDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerDTOService/ReadCustomerUsingDTO" message="tns:ICustomerDTOService_ReadCustomerUsingDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerDTOService/ReadCustomerUsingDTOResponse" message="tns:ICustomerDTOService_ReadCustomerUsingDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerUsingDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerDTOService/UpdateCustomerUsingDTO" message="tns:ICustomerDTOService_UpdateCustomerUsingDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerDTOService/UpdateCustomerUsingDTOResponse" message="tns:ICustomerDTOService_UpdateCustomerUsingDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerUsingDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerDTOService/DeleteCustomerUsingDTO" message="tns:ICustomerDTOService_DeleteCustomerUsingDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerDTOService/DeleteCustomerUsingDTOResponse" message="tns:ICustomerDTOService_DeleteCustomerUsingDTO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomer" message="tns:ICustomerService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomerResponse" message="tns:ICustomerService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/ReadCustomer" message="tns:ICustomerService_ReadCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/ReadCustomerResponse" message="tns:ICustomerService_ReadCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomer" message="tns:ICustomerService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomerResponse" message="tns:ICustomerService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICustomerSTEService">
    <wsdl:operation name="CreateCustomerUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerSTEService/CreateCustomerUsingSTE" message="tns:ICustomerSTEService_CreateCustomerUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerSTEService/CreateCustomerUsingSTEResponse" message="tns:ICustomerSTEService_CreateCustomerUsingSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerSTEService/ReadCustomerUsingSTE" message="tns:ICustomerSTEService_ReadCustomerUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerSTEService/ReadCustomerUsingSTEResponse" message="tns:ICustomerSTEService_ReadCustomerUsingSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerSTEService/UpdateCustomerUsingSTE" message="tns:ICustomerSTEService_UpdateCustomerUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerSTEService/UpdateCustomerUsingSTEResponse" message="tns:ICustomerSTEService_UpdateCustomerUsingSTE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerUsingSTE">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerSTEService/DeleteCustomerUsingSTE" message="tns:ICustomerSTEService_DeleteCustomerUsingSTE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerSTEService/DeleteCustomerUsingSTEResponse" message="tns:ICustomerSTEService_DeleteCustomerUsingSTE_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/ReadOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrderSTEService" type="tns:IOrderSTEService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrderUsingSTE">
      <soap:operation soapAction="http://tempuri.org/IOrderSTEService/CreateOrderUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadOrderUsingSTE">
      <soap:operation soapAction="http://tempuri.org/IOrderSTEService/ReadOrderUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderUsingSTE">
      <soap:operation soapAction="http://tempuri.org/IOrderSTEService/UpdateOrderUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderUsingSTE">
      <soap:operation soapAction="http://tempuri.org/IOrderSTEService/DeleteOrderUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICustomerDTOService" type="tns:ICustomerDTOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomerUsingDTO">
      <soap:operation soapAction="http://tempuri.org/ICustomerDTOService/CreateCustomerUsingDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerUsingDTO">
      <soap:operation soapAction="http://tempuri.org/ICustomerDTOService/ReadCustomerUsingDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerUsingDTO">
      <soap:operation soapAction="http://tempuri.org/ICustomerDTOService/UpdateCustomerUsingDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerUsingDTO">
      <soap:operation soapAction="http://tempuri.org/ICustomerDTOService/DeleteCustomerUsingDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ReadCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICustomerSTEService" type="tns:ICustomerSTEService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomerUsingSTE">
      <soap:operation soapAction="http://tempuri.org/ICustomerSTEService/CreateCustomerUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerUsingSTE">
      <soap:operation soapAction="http://tempuri.org/ICustomerSTEService/ReadCustomerUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerUsingSTE">
      <soap:operation soapAction="http://tempuri.org/ICustomerSTEService/UpdateCustomerUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerUsingSTE">
      <soap:operation soapAction="http://tempuri.org/ICustomerSTEService/DeleteCustomerUsingSTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderITService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:32866/OrderITService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrderSTEService" binding="tns:BasicHttpBinding_IOrderSTEService">
      <soap:address location="http://localhost:32866/OrderITService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICustomerDTOService" binding="tns:BasicHttpBinding_ICustomerDTOService">
      <soap:address location="http://localhost:32866/OrderITService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:32866/OrderITService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICustomerSTEService" binding="tns:BasicHttpBinding_ICustomerSTEService">
      <soap:address location="http://localhost:32866/OrderITService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>