OrderIT.WCFSTEClient/Service References/CustomerService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2362/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2362/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2362/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderIT.STE.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ReadCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_ReadCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrder" />
  </wsdl:message>
  <wsdl:message name="IService_ReadOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSupplier" />
  </wsdl:message>
  <wsdl:message name="IService_ReadSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ReadCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadCustomer" message="tns:IService_ReadCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadCustomerResponse" message="tns:IService_ReadCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCustomer" message="tns:IService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateCustomerResponse" message="tns:IService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadOrder" message="tns:IService_ReadOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadOrderResponse" message="tns:IService_ReadOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateOrder" message="tns:IService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateOrderResponse" message="tns:IService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadSupplier" message="tns:IService_ReadSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadSupplierResponse" message="tns:IService_ReadSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSupplier" message="tns:IService_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSupplierResponse" message="tns:IService_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/ReadCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <soap:operation soapAction="http://tempuri.org/IService/ReadOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSupplier">
      <soap:operation soapAction="http://tempuri.org/IService/ReadSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:2362/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>